/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "alata", sans-serif;
}

header {
  height: 100vh;
  background-image: url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

header > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 30px;
}

header > div > div {
  border: solid;
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 55px;
  width: 10ch;
  padding: 20px;
}

.container {
  margin: auto;
  padding: 30px;
  text-align: center;
  margin-top: 40px;
}

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container-intro > p {
  color: #c9c9c9;
  line-height: 2;
  width: 30ch;
}

.text-2xl {
  font-size: 42px;
}