/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "alata", sans-serif;
}

header {
  height: 100vh;
  background-image: url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.menu {
  display: none;
}

.menu-burguer {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-float {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.menu-float-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.menu-float-header > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 30px;
}

header > div > div {
  border: solid;
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 55px;
  width: 10ch;
  padding: 20px;
}

.container {
  margin: auto;
  padding: 30px;
  text-align: center;
  margin-top: 40px;
}

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container-intro > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-intro > div > p {
  color: #c9c9c9;
  line-height: 2;
  width: 30ch;
}

.text-2xl {
  font-size: 42px;
}

.container-creations {
  margin-top: 50px;
  display: grid;
  gap: 30px;
}

.container-creations > div > h4 {
  font-size: 28px;
  width: 9ch;
  text-align: left;
}

.creation {
  padding: 20px;
  height: 150px;
  color: #fff;
  display: flex;
  align-items: end;
  background-repeat: no-repeat;
  background-size: cover;
}

.creation-1 {
  background-image: url(./images/mobile/image-deep-earth.jpg);
}

.creation-2 {
  background-image: url(./images/mobile/image-night-arcade.jpg);
}

.creation-3 {
  background-image: url(./images/mobile/image-soccer-team.jpg);
}

.creation-4 {
  background-image: url(./images/mobile/image-grid.jpg);
}

.creation-5 {
  background-image: url(./images/mobile/image-from-above.jpg);
}

.creation-6 {
  background-image: url(./images/mobile/image-pocket-borealis.jpg);
}

.creation-7 {
  background-image: url(./images/mobile/image-curiosity.jpg);
}

.creation-8 {
  background-image: url(./images/mobile/image-fisheye.jpg);
}

.hidden-m {
  display: none;
}

.container-button {
  margin-top: 30px;
  margin-bottom: 50px;
}

.container-button > button {
  background-color: transparent;
  padding: 15px 50px;
  font-size: 18px;
  border: 1px solid;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #000;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  color: #fff;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu-footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  text-align: center;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-text {
  text-align: center;
}

/* Desktop */
@media (min-width: 1025px) {
  header {
    background-image: url(./images/desktop/image-hero.jpg);
  }

  .container-width {
    width: 1440px;
    margin: auto;
    padding: 100px 160px;
  }

  .menu {
    display: flex;
    list-style: none;
    gap: 30px;
  }

  .container-btn-burguer {
    display: none;
  }

  header > div > div {
    width: 45%;
  }

  h1 {
    font-size: 62px;
    padding: 20px;
    width: 15ch;
  }

  .container-intro {
    flex-direction: row;
    gap: 0;
    position: relative;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .container-intro > picture > img {
    width: 730px;
    object-fit: cover;
  }

  .container-intro > div {
    display: block;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 570px;
    top: 245px;
    text-align: left;
    width: auto;
    padding: 60px;
  }

  .text-2xl {
    width: 20ch;
    text-align: left;
  }

  .container-intro > div > p {
    width: 50ch;
  }

  .container-creations {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 450px);
  }

  .creation {
    height: 450px;
  }

  .creation-1 {
    background-image: url(./images/desktop/image-deep-earth.jpg);
  }

  .creation-2 {
    background-image: url(./images/desktop/image-night-arcade.jpg);
  }

  .creation-3 {
    background-image: url(./images/desktop/image-soccer-team.jpg);
  }

  .creation-4 {
    background-image: url(./images/desktop/image-grid.jpg);
  }

  .creation-5 {
    background-image: url(./images/desktop/image-from-above.jpg);
  }

  .creation-6 {
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
  }

  .creation-7 {
    background-image: url(./images/desktop/image-curiosity.jpg);
  }

  .creation-8 {
    background-image: url(./images/desktop/image-fisheye.jpg);
  }

  .container-creation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hidden-m {
    display: block;
  }

  .hidden {
    display: none;
  }
}